<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h3><b>EMPLOYEE RECORD</b></h3>
    <p>Name 1: {{ name1 }}</p>
    <p v-if=name2>Name 2: {{ name2 }}</p>
    <p>Surname: {{ surname }}</p>
    <p v-if=foreigner>Nationality: {{ nationality }}</p>
    <p v-else>Pesel: {{ pesel }}</p>
    <p>Address: {{ address }}</p>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        name1: 'Adam',
        name2: 'Jan',
        surname: 'Majewski',
        foreigner: false,
        nationality: 'Polish',
        pesel: '92021708229',
        address: 'ul. Szeroka 3, Kraków',
      }
    });
  </script>

</body>
</html>