<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <style>
    table {
      border-collapse: collapse;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }

    th {
      width: 200px;
      height: 25px;
    }
  </style>
  <div id="app">
    <table>
      <tr>
        <th v-for="header in headers">{{ header }}</th>
      </tr>
      <tr v-for="film in films">
        <td v-for="field in fields">{{ film[field] }}</td>
      </tr>
    </table>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        headers: ['Title', 'Year', 'Director', 'Budget'],
        fields: ['title', 'year', 'director', 'budget'],
        films: [
          {
            title: 'Avatar',
            year: 2009,
            director: 'James Cameron',
            budget: 237000000
          },
          {
            title: 'Pulp Fiction',
            year: 1994,
            director: 'Quentin Tarantino',
            budget: 8000000
          },
          {
            title: 'Pitch Black',
            year: 2000,
            director: 'David Twohy',
            budget: 23000000
          },
          {
            title: 'War and Peace',
            year: 1956,
            director: 'King Vidor',
            budget: 6000000
          }
        ]         
      }
    });
  </script>
</body>
</html>